@model MercyDevelopers.Models.Servicio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdServicios" class="control-label"></label>
                <input asp-for="IdServicios" class="form-control" />
                <span asp-validation-for="IdServicios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productos" class="control-label"></label>
                <input asp-for="Productos" class="form-control" />
                <span asp-validation-for="Productos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duraccion" class="control-label"></label>
                <input asp-for="Duraccion" class="form-control" />
                <span asp-validation-for="Duraccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TecnicoAsignado" class="control-label"></label>
                <input asp-for="TecnicoAsignado" class="form-control" />
                <span asp-validation-for="TecnicoAsignado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripción" class="control-label"></label>
                <input asp-for="Descripción" class="form-control" />
                <span asp-validation-for="Descripción" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
